### beams
Beams:idA 2212			# proton
Beams:idB 2212 			# proton
Beams:eCM 5360. 		# GeV

### processes
HardQCD:hardccbar on

### phase space cuts
PhaseSpace:pTHatMin = 2.0	# GeV/c

### decays
ParticleDecays:limitTau0 = on
ParticleDecays:tau0Max = 10.

### switch off all decay channels for charm
411:onMode = off
421:onMode = off
431:onMode = off
4122:onMode = off
4132:onMode = off
4232:onMode = off
4332:onMode = off

###Semimuonic decays of charm

### D+/- -> mu X
411:onIfAny = 13
### D0 -> mu X
421:onIfAny = 13
### D_s -> mu X
431:onIfAny = 13
### Lambda_c -> mu X
4122:onIfAny = 13
### Xsi0_c -> mu X
4132:onIfAny = 13
### Xsi+_c
4232:onIfAny = 13
### Omega_c -> mu X
4332:onIfAny = 13